version: '3.8'

services:
  app:
    build: .
    volumes:
      - .:/app
    environment:
      - N8N_WEBHOOK_URL=${N8N_WEBHOOK_URL:-http://host.docker.internal:5678/webhook/23cb51ff-48ee-48fd-8cde-447af19a99ea}
    restart: on-failure
